[submodule "test/unit-test/Unity"]
	path = test/unit-test/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "test/unit-test/mbedtls"]
	path = test/unit-test/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "test/unit-test/coreJSON"]
	path = test/unit-test/coreJSON
	url = https://github.com/FreeRTOS/coreJSON.git
